.title {
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: rgba(206, 191, 173, 255);
}

.form_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


mat-form-field {
    width: 30%;
}

@media (max-width: 1200px) {
    mat-form-field {
        width: 60%;
    }
}