.company_detail {
    padding: 20px;
    background-color: transparent;
    color: rgba(206, 191, 173, 255);


    .company_name {
        text-align: center;
        padding-bottom: 20px;
        font-size: 30px;
    }

    .content-container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        .description {
            text-align: center;
            padding-top: 20px;
            width: 50%;
        }
    }

    .img-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .img {
            width: 280px;
            height: 250px;
            align-items: center;
            justify-content: center;
        }
    }
}