.title {
  border-radius: 10px;
}

.main-content {
  padding: 20px;
  text-align: center;

  .description-card {
    margin-bottom: 20px;
    background-color: transparent;
    color: rgba(206, 191, 173, 255);
  }

  .btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .btn {
      width: 15%;
      background-color: rgba(217, 46, 8, 0.6);
      color: rgba(206, 191, 173, 255);
      border-radius: 7px;
    }
  }


  .companies-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

    .company-card {
      width: 100%;
      background-color: rgba(206, 191, 173, 255);
      padding: 20px;
      border-radius: 15px;
      transition: transform 0.3s ease, background-color 0.3s ease;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .company-card:hover {
      transform: scale(1.05);
      background-color: rgba(217, 46, 8, 0.6);
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
      color: rgba(206, 191, 173, 255);
    }
  }

  .btn_edit {
    margin-right: 15px;
    margin-top: 15px;
  }

  .btn_delete {
    margin-top: 15px;
  }

  .card_title {
    padding-bottom: 20px;
  }
}

@media (max-width: 1200px) {
  .main-content .btn-container {
    .btn {
      width: 30%;
    }
  }

  .main-content .companies-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {

  .main-content .btn-container {
    .btn {
      width: 50%;
    }
  }

  .main-content .companies-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 365px) {

  .main-content .btn-container {
    .btn {
      width: 90%;
    }
  }

  .companies-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .company-card {
    width: 280px;
  }
}